<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Header para Usuario Comprador -->
<nav th:fragment="header-comprador" class="navbar navbar-expand-lg navbar-dark py-0" style="background-color: #2b2d3d;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img style="height: 100px; width: auto;" src="/img/logo_empresa.png" alt="Logo Florería RDM">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/productos">Productos</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</a></li>-->
                <li class="nav-item"><a class="nav-link" href="/mis-pedidos">Mis Pedidos</a></li>

                <!-- Carrito de Compras con contador -->
                <li class="nav-item mx-2">
                    <a class="nav-link position-relative" href="/cart">
                        <i class="bi bi-cart3 fs-5"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                              th:if="${session.carritoCount != null && session.carritoCount > 0}"
                              th:text="${session.carritoCount}">
                                0
                            </span>
                    </a>
                </li>

                <!-- Usuario Logueado -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle fs-5 me-2"></i>
                        <span sec:authentication="name">Usuario</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/perfil">
                            <i class="bi bi-person me-2"></i>Mi Perfil
                        </a></li>
                        <li><a class="dropdown-item" href="/mis-pedidos">
                            <i class="bi bi-bag me-2"></i>Mis Pedidos
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/logout}" method="post" class="px-3">
                                <button class="btn btn-outline-danger btn-sm w-100" type="submit">
                                    <i class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>